@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

html,
body {
    height: 100%;
}

body {
    @apply bg-slate-50 text-slate-900 antialiased;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.001ms !important;
        transition-duration: 0.001ms !important;
    }
}